/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* font shit */

@font-face {
    font-family: 'gamer';
    src: url('/fonts/gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* cursor shit */

* {
   cursor: url('/images/cur.png'), auto;
}

body, html {
   cursor: url('/images/cur.png'), auto;
}

a, a:hover {
  cursor: url('/images/link.png'), auto;
}


/* the The main stuff */

body {
    animation-name: attract;
    animation-iteration-count: infinite;
    animation-duration: 11s;
    animation-timing-function: linear;
    background-image: url('/images/bgs/bulletbg.png');
	font-family: 'gamer';
	color: #3c2b1b;
	font-size: 23px;
	line-height: 30px;
	text-align: center;
	margin:0 auto;
	overflow-x: hidden;
}

.container {
	width: 70%;
	height: 1000px;
	padding-bottom: -35px;
	margin: 50px auto;
	border: 15px solid transparent;
	border-image-source: url(/images/index/bulletborder.png);
	border-image-repeat: round;
	background-color: #847c7c;
	border-image-slice: 30;
	display: grid; 
	grid-auto-columns: 1fr; 
	grid-template-columns: minmax(0, 1.1fr) minmax(0, 1.3fr) minmax(0, 0.3fr) minmax(0, 1.3fr); 
	grid-template-rows: minmax(0, 0.6fr) minmax(0, 1fr) minmax(0, 0.7fr) minmax(0, 1.2fr) minmax(0, 1.9fr) minmax(0, 0.6fr); 
	gap: 5px 5px; 
	grid-template-areas: 
    "me topblurb topblurb topblurb"
    "me topblurb topblurb topblurb"
    "me one one two"
    "leftblurb one one two"
    "leftblurb three four four"
    "userbars userbars userbars userbars"; 
}

.me { 
	grid-area: me; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px 1%;
}

.topblurb { 
	grid-area: topblurb; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 10px;
}

.leftblurb { 
	grid-area: leftblurb; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px 10px;
}

.one { 
	grid-area: one; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 10px;
}

.two { 
	grid-area: two; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 10px;
}

.three { 
	grid-area: three; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 10px;
}

.four { 
	grid-area: four; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 10px;
}

.userbars { 
	grid-area: userbars; 
	border: 2px #3c2b1b dashed;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 20px;
	padding-top: 10px;
}

#back {
	margin: 20px auto;
	width: 337px;
	height: 40px;
	line-height: 55px;
	transform: scale(1);
	transition: transform 0.5s linear;
}

#back:hover {
	transform: scale(1.1);
	image-rendering:crisp-edges;
}

#back p {
	font-family: 'gamer';
	color: #3c3b3a;
    text-shadow: -2px 2px #b7a99a;
	font-size: 500%;
	font-style: italic;
	margin: auto;
}

#back img {
	transform: rotate(-20deg);
	float: left;
}
/* columns */

.flex {
	display: flex;
}

.half {
	width: 45%;
	margin: 0px auto;
	order: 1;
}

.third {
	width: 30%;
	margin: 0px auto;
	order: 1;
}

/* animations */

#flip {
	animation: flip 4s infinite linear;
}

@keyframes flip {
	0% {
		transform: rotatey(180deg);
	}
	
	50% {
		transform: rotatey(-180deg);
	}
	
	100% {
		transform: rotatey(180deg);
	}
}

.move {
	animation: move 4s infinite linear;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    background-image: url(/images/computeroverlay.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    z-index: 10000000;
    animation: ScanlineAnimationLeft 2s linear infinite;
    animation-name: ScanlineAnimationLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
    opacity: 1;
}

@keyframes ScanlineAnimationRight {
  	  0% {transform: translateX(0px) translateY(0px);}100% {transform: translateX(32px) translateY(-32px);}
  	  }
      @keyframes ScanlineAnimationLeft {
  	  0% {transform: translateX(0px) translateY(0px);}100% {transform: translateX(-32px) translateY(-32px);}
  	  }

@keyframes attract {
0% {
    background-color: #aeaaa6;
    background-position: 0px 0px;
}
100% {
    background-color: #aeaaa6;
    background-position: 0px 1080px;
}
}

/*audio*/

.audio {
	position: fixed;
	top: 0;
	right: 0;
}

audio {
	width: 100px;
	height: 15px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #aeaaa6;
  color: #3c2b1b;
}

/*scrollbar*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #3c2b1b;
}

::-webkit-scrollbar-track {
	background-color: #aeaaa6;
}

.one::-webkit-scrollbar, .two::-webkit-scrollbar, .three::-webkit-scrollbar, .four::-webkit-scrollbar, .topblurb::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

.one::-webkit-scrollbar-thumb, .two::-webkit-scrollbar-thumb, .three::-webkit-scrollbar-thumb, .four::-webkit-scrollbar-thumb, .topblurb::-webkit-scrollbar-thumb .one::-webkit-scrollbar-button, .two::-webkit-scrollbar-button, .three::-webkit-scrollbar-button, .four::-webkit-scrollbar-button, .topblurb::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

.one::-webkit-scrollbar-track, .two::-webkit-scrollbar-track, .three::-webkit-scrollbar-track, .four::-webkit-scrollbar-track, .topblurb::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

.one::-webkit-scrollbar-button, .two::-webkit-scrollbar-button, .three::-webkit-scrollbar-button, .four::-webkit-scrollbar-button, .topblurb::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

.one::-webkit-scrollbar-button:single-button:vertical:decrement, .two::-webkit-scrollbar-button:single-button:vertical:decrement, .three::-webkit-scrollbar-button:single-button:vertical:decrement, .four::-webkit-scrollbar-button:single-button:vertical:decrement, .topblurb::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

.one::-webkit-scrollbar-button:single-button:vertical:increment, .two::-webkit-scrollbar-button:single-button:vertical:increment, .three::-webkit-scrollbar-button:single-button:vertical:increment, .four::-webkit-scrollbar-button:single-button:vertical:increment, .topblurb::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

.one::-webkit-scrollbar-button:single-button:horizontal:decrement, .two::-webkit-scrollbar-button:single-button:horizontal:decrement, .three::-webkit-scrollbar-button:single-button:horizontal:decrement, .four::-webkit-scrollbar-button:single-button:horizontal:decrement, .topblurb::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

.one::-webkit-scrollbar-button:single-button:horizontal:increment, .two::-webkit-scrollbar-button:single-button:horizontal:increment, .three::-webkit-scrollbar-button:single-button:horizontal:increment, .four::-webkit-scrollbar-button:single-button:horizontal:increment, .topblurb::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

.one::-webkit-scrollbar-corner, .two::-webkit-scrollbar-corner, .three::-webkit-scrollbar-corner, .four::-webkit-scrollbar-corner, .topblurb::-webkit-scrollbar-corner {
  background: silver;
}

/* misc styles */

h1 {
	font-size: 160%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h6 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

.kins {
	width: 85%;
	display: inline-block;
}

.kins img {
	transform: scale(1);
	transition: transform 0.5s linear;
}

.kins img:hover {
	transform: scale(1.1);
}

table, th, td {
	border: solid 2px #3c2b1b;
}

th, td {
	padding: 1%;
}

.likes {
    list-style-image: url(/images/nukos/nuko132.gif);
	list-style-position: inside;
	text-align: left;
}

.dislikes {
    list-style-image: url(/images/nukos/nuko128.gif);
	list-style-position: inside;
	text-align: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #b5b4ae;
	font-weight:normal;
}

a:hover {
 color: #b5b4ae;
 font-weight: normal;
 text-decoration: none;
}

a:link, a:visited, a:active {
  text-decoration: none; 
  color: #b5b4ae;
}


::selection {
  background: #acaba4;
  color: #3c2b1b;
}

#msg {
	width: 60%;
	overflow-x: hidden;
	margin: 0px auto;
}

#msg hr {
	border: .5px solid #3c2b1b;
}

/* All stuff below here is for viewing your site on different devices */

@media screen and (max-width: 1536px) {
	body { zoom: 80%; }
}

@media screen and (max-width: 1440px) {
	body { zoom: 75%; }
}

@media screen and (max-width: 1366px) {
	body { zoom: 70%; }
}

@media screen and (max-width: 1280px) {
	body { zoom: 65%; }
}

@media screen and (max-width: 1024px) {
	body { zoom: 60%; }
}

@media screen and (max-width: 992px) {
	body { zoom: 55%; }
}

@media screen and (max-width: 800px) {
	body { zoom: 50%; }
}

@media screen and (max-width: 600px) {
	body { zoom: 45%; }
}