/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* font shit */

@font-face {
    font-family: 'gamer';
    src: url('/fonts/gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* cursor shit */

* {
   cursor: url('/images/cur.png'), auto;
}

body, html {
   cursor: url('/images/cur.png'), auto;
}

a, a:hover {
  cursor: url('/images/link.png'), auto;
}


/* the The main stuff */

body {
	font-family: 'gamer';
	color: #3c2b1b;
	font-size: 23px;
	line-height: 30px;
	text-align: center;
	margin:0 auto;
	overflow-x: hidden;
}

body {
	background-image: url(/images/bgs/recordbg.gif);
	background-size: 6%;
	background-repeat: repeat;
	background-color: #b2a597;
}

#everything {
	grid-template-columns: 75% 25%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	min-width:820px;
	display: grid;
	margin: 30px auto 0px auto;
	width:60%;
	background-image: url('/images/misc/topborder.png');
	padding-top: 17px;
	background-size: 100% 17px;
	background-repeat: no-repeat;
}

#main {
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: -fit-content;
	background-color: #8a8178;
	padding: 20px 30px;
	height: 680px;
	min-height: 680px;
	max-height:680px;
	text-align: center;
	overflow-y: scroll;
	
}

#navi {
	background-color: #8a8178;
	border-right:1px black solid;
	height: 20%;
	min-height: 350px;
	text-align: center;
	overflow-y: scroll;
}

#back {
	margin: 20px auto;
	width: 337px;
	height: 40px;
	line-height: 55px;
	transform: scale(1);
	transition: transform 0.5s linear;
}

#back:hover {
	transform: scale(1.1);
	image-rendering:crisp-edges;
}

#back p {
	font-family: 'gamer';
	color: #3c3b3a;
    text-shadow: -2px 2px #b7a99a;
	font-size: 500%;
	font-style: italic;
	margin: auto;
}

#back img {
	transform: rotate(-20deg);
	float: left;
}
/* record stuff */

.wrap {
	position: relative;
	margin: 10px auto;
	width: 95%;
	height: auto;
	border: 2px dashed #3c2b1b;
	min-height: 200px;
	padding: 5px;
}

.record:hover {
	animation: record 1s infinite linear;
}

.recordwrap:hover {
	animation: push .5 ease-out forwards;
}

.recordwrap1:hover {
	animation: push1 .5 ease-out forwards;
}

.cover {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 9;
}

.cover1 {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 9;
}

.vinyl {
	position: absolute;
	left: 105px;
	top: 5px;
	z-index: 8;
}

.vinyl1 {
	position: absolute;
	right: 105px;
	top: 5px;
	z-index: 8;
}

/* columns */

.flex {
	display: flex;
}

.half {
	width: 45%;
	margin: 0px auto;
	order: 1;
}

.third {
	width: 30%;
	margin: 0px auto;
	order: 1;
}

/* animations */

@keyframes push {
  0% {
	transform: translateX(0px);
  }
  100% {
	transform: translateX(-3px 30px);
  }
}

@keyframes push1 {
  0% {
	transform: translateX(0px);
  }
  100% {
	transform: translateX(-3px -30px);
  }
}

@keyframes record {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    background-image: url(/images/computeroverlay.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    z-index: 10000000;
    animation: ScanlineAnimationLeft 2s linear infinite;
    animation-name: ScanlineAnimationLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
    opacity: 1;
}

@keyframes ScanlineAnimationRight {
  	  0% {transform: translateX(0px) translateY(0px);}100% {transform: translateX(32px) translateY(-32px);}
  	  }
      @keyframes ScanlineAnimationLeft {
  	  0% {transform: translateX(0px) translateY(0px);}100% {transform: translateX(-32px) translateY(-32px);}
  	  }

@keyframes attract {
0% {
    background-color: #aeaaa6;
    background-position: 0px 510px;
}
100% {
    background-color: #aeaaa6;
    background-position: 910px 0px;
}
}

/*audio*/

audio {
	width: 200px;
	height: 20px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #8a8178;
  color: #3c2b1b;
}

/*scrollbar*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #3c2b1b;
}

::-webkit-scrollbar-track {
	background-color: #aeaaa6;
}

#main::-webkit-scrollbar, #navi::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

#main::-webkit-scrollbar-thumb, #main::-webkit-scrollbar-button, #navi::-webkit-scrollbar-thumb, #navi::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

#main::-webkit-scrollbar-track, #navi::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

#main::-webkit-scrollbar-button, #navi::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

#main::-webkit-scrollbar-button:single-button:vertical:decrement, #navi::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

#main::-webkit-scrollbar-button:single-button:vertical:increment, #navi::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

#main::-webkit-scrollbar-button:single-button:horizontal:decrement, #navi::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

#main::-webkit-scrollbar-button:single-button:horizontal:increment, #navi::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

#main::-webkit-scrollbar-corner, #navi::-webkit-scrollbar-corner {
  background: silver;
}

/* misc styles */

h1 {
	font-size: 160%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h6 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

ul {
	list-style-type: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #b5b4ae;
	font-weight:normal;
}

a:hover {
 color: #b5b4ae;
 font-weight: normal;
 text-decoration: none;
}

a:link, a:visited, a:active {
  text-decoration: none; 
  color: #b5b4ae;
}

::selection {
  background: #acaba4;
  color: #3c2b1b;
}

hr {
	border: .5px solid #3c2b1b;
}

.inline {
	display: inline;
}
/* All stuff below here is for viewing your site on different devices */

@media screen and (max-width: 1536px) {
	body { zoom: 80%; }
}

@media screen and (max-width: 1440px) {
	body { zoom: 75%; }
}

@media screen and (max-width: 1366px) {
	body { zoom: 70%; }
}

@media screen and (max-width: 1280px) {
	body { zoom: 65%; }
}

@media screen and (max-width: 1024px) {
	body { zoom: 60%; }
}

@media screen and (max-width: 992px) {
	body { zoom: 55%; }
}

@media screen and (max-width: 800px) {
	body { zoom: 50%; }
}

@media screen and (max-width: 600px) {
	body { zoom: 45%; }
}